<div id="contact">
  <div id="contact-container">
    <button id="help_back">Back</button>
    <div id="contact-form-container">
      <h1>What's up?</h1>
      <div id="email-request-container">
        <input type="email" id="email-request" placeholder="your email is..." data-original-placeholder="your email is...">
        <button type="button" id="email-request-button"></button>
      </div>
      <div id="contact-form">
        <textarea id="contact-form-input" placeholder="message goes here..."></textarea>
        <div id="contact-form-submit-container">
          <button id="contact-form-submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>