.support {
  display: flex;
  justify-content: center;

  h1 {
    margin: unset;
  }

  #search_container {
    position: relative;
    width: 100%;

    input#search {
      font: var(--font);
      font-size: 20px;
      padding: 10px 15px;
      color: white;
      background: unset;
      border: 2px solid white;
      border-radius: 6px;
      outline: unset;
      width: 100%;
      margin: 30px 0px;
      box-sizing: border-box;
    }
      
    button#do_search {
      position: absolute;
      top: 32px;
      right: 2px;
      border: none;
      background-color: transparent;
      height: 45px; /* Increased height of the button */
      width: 60px; /* Increased width of the button */
      cursor: crosshair;
      background-image: url('/media/svg/arrow_right.svg');
      background-size: 25px; /* Fixed size for the SVG */
      background-repeat: no-repeat;
      background-position: center;
      padding: 0;
    }
  }

  .container {
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;

    .support_categories {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;

      .category {
        border-radius: 6px;
        border: 2px solid white;
        padding: 10px;
        height: 80px;;

        h3 {
          margin: unset;
        }

        
        transition: ease-in-out 0.3s;
        &:hover {
          color: black;
          background-color: white;
        }
      }
    }

    #contact_container {
      display: inline-flex;
      margin-top: 30px;

      h2 {
        margin: unset;
      }

      #contact_link {
        margin-left: 10px;
        text-decoration: underline;
      }
    }
  }  
}
